    <section class="login-screen col-6 mx-auto">
    <div class = "login-page">
        <h1 class="login-title">
           Reading Corner
        </h1>
        <div class="d-flex flex-column">
        <input class="login-email mx-auto" type="email" placeholder="Email">
        <input class="login-pass mx-auto " type="text" placeholder="Password">
        <button class="login-btn mx-auto">Login</button>
        </div>
        <h4 class = "login-text mx-auto">Don't have an account? <a class="reg-link" href="/register.html">Register</a></h4>
    </div>
    </section>