    <section class= "register-screen col-6 mx-auto">
        <div class="register-page">
            <h1 class="register-title">
                Register
             </h1><br><br>
            <input class="register-name" type="text" placeholder="First Name">
            <input class="register-email" type="email" placeholder="Email">
            <input class="register-pass" type="text" placeholder="Password">
            <button class="register-btn">Create Account</button><br><br><br>
            <h4 class = "register-text">Have an account? <a class="log-link" href="/login.html">Login</a></h4>
        </div>
        </section>