    <section class= "register-screen col-6 mx-auto">
        <form class ="signup-form">
        <div class="register-page">
            <h1 class="register-title">
                Register
             </h1><br><br>
             <form class="signup-form" id="signup-form">
            <input class="register-name" type="text" id="username-signup" placeholder="Username">
            <input class="register-email" type="email" id="email-signup" placeholder="Email">
            <input class="register-pass" type="password" id="password-signup" placeholder="Password">
            <button class="register-btn" type="submit" >Create Account</button><br><br><br>
            <h4 class = "register-text">Have an account? <a class="log-link" href="/login">Login</a></h4>
            </form>
        </div>
        </form>
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">This user already exists, please enter a valid username, email and password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="close-span">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/register.js"></script>
    