    <section class= "register-screen col-6 mx-auto">
        <form class ="signup-form">
        <div class="register-page">
            <h1 class="register-title">
                Register
             </h1><br><br>
            <input class="register-name" type="text" id="username-signup"placeholder="Username">
            <input class="register-email" type="email" id="email-signup" placeholder="Email">
            <input class="register-pass" type="text" id="password-signup" placeholder="Password">
            <button class="register-btn" type="submit">Create Account</button><br><br><br>
            <h4 class = "register-text">Have an account? <a class="log-link" href="/login">Login</a></h4>
        </div>
        </form>
        <script src="../public/js/login.js"></script>
    </section>
    