:root {
    --primary-color: #797D62;
    --secondary-color: #FFCB69;
    --tertiary-color: #825F45;
    --quarternary-color: #D08C60;
    --quinary-color: #997B66;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

input,
textarea.form-control.co {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: var(--tertiary-color);
    font-size: 25px;
    font-weight: 600;
    background-color: antiquewhite;
    box-shadow: 2px 2px 10px #ffcb69;
    border: none;
    width: 70%;
}

textarea.form-control.co {
    width: 100%;
}


input::placeholder,
input.form-control::placeholder,
textarea.form-control.co::placeholder{
    text-align: center;
    font-size: 25px;
    color: var(--tertiary-color);
    font-weight: 400;
}

input.friend-search{
    width: 60%;
}

input.book-search{
    width: 50%;
    margin-left: 100px;
}

input.comment,
input.comment-title,
input.comment-au,
input.comment-ch
{
    width: 40%;
    margin-top: 5px;
    margin-left: 100px;
}

.register-text,
.login-text {
    color: #333333;
}

a.log-link,
a.reg-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.log-link:hover,
.reg-link:hover {
    color:#333333;
}


.login-title {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 50pt;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
}


.login-pass,
.login-email,
.login-btn,
.login-text {
    margin: 20px;
}

.login-btn {
    font-size: 30px;
    background-color: var(--quarternary-color);
    border: none;
    width:30% ;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
}

.login-btn:hover,
.register-btn:hover,
.logout-page-btn:hover {
    background-color: rgba(252, 171, 117, 0.6);
    transition: all .3s ease-in-out;
}

.login-text {
    margin-top: 15%;
    text-align: center;
}

.register-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.register-title{
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 50pt;
    margin-top: 6%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
}

.register-name, .register-email, .register-pass {
    margin: 20px;
} 

.register-btn {
    margin-top: 20px;
    font-size: 30px;
    background-color: var(--quarternary-color);
    border: none;
    width:30% ;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
}

.friend-title{
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    margin-top: 10px;
}

.my-friend{
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    margin-top: 30px;
}

.what-read-title{
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    
    width: 50%;
}


.comment-section2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 100px;   
    width:100%;
}


.discussion-title {
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    margin-top: 2%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    width: 50%;
}

.comment-title {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
}

.friend-search-btn,
.book-search-btn,
.post-btn {
    font-size: 20px;
    background-color: var(--quarternary-color);
    border: none;
    width: 35%;
    margin-top: 10px;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
}

.post-btn {
    width: 10%;
}


li.box{
    background-color: var(--tertiary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    width: 100%;
    margin: 8px 0px;
    text-decoration: none;
}

li.box::marker{
    
    color: var(--primary-color);
}
.dashboard-title {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 20pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    margin-top: 5px;
    margin-right: 60%;
}

div.comment.mt-4.text-justify,
span,
h4.comTitle,
p.comText {
    background-color: var(--tertiary-color);
}

h4.comTitle {
    font-size: 25px;
}

span.book-title,
span.author {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25px;
}

span.book-title{
    padding: 10px;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    margin: 5px 0px;
}

.delete-btn {
    background-color: var(--quarternary-color);
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 10%;
}

.delete-btn2 {
    background-color: var(--tertiary-color);
    border: none;
    padding: 5px;
    border-radius: 20%;
}




.main-section {
    margin-top: 40px;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content:right;
}

.user-title {
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 20pt;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    
}

.logout-page-btn{
    font-size: 20px;
    background-color: var(--quarternary-color);
    border: none;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    margin: 10px;
}

input.post-list {
    width: 20%;
}

.post-book-btn {
    background-color: var(--quarternary-color);
    border: none;
    padding: 5px;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    margin-top: 8px;
}




