:root {
    --primary-color: #797D62;
    --secondary-color: #FFCB69;
    --tertiary-color: #825F45;
    --quarternary-color: #D08C60;
    --quinary-color: #997B66;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

body.body {
    background-color: var(--primary-color);
}



/* HEADER */

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.header-left {
    flex: 1;
}

.dashboard-title {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 20pt;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    width: 30%;
    padding: 5px;
    margin: 20px;
}

.header-right {
    margin: 0 30px;
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

.user-title {
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 20pt;;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    display: flex;
    margin-left: 50%;
    padding: 5px;
    align-items: center;
    
}

.logout-page-btn{
    font-size: 20px;
    background-color: var(--quarternary-color);
    border: none;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    margin: 10px;
    padding: 5px;
}

/* END HEADER */



input,
textarea.form-control.co {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: var(--tertiary-color);
    font-size: 25px;
    font-weight: 600;
    background-color: antiquewhite;
    box-shadow: 2px 2px 10px #ffcb69;
    border: none;
    width: 70%;
}

textarea.form-control.co {
    width: 100%;
}


input::placeholder,
input.form-control::placeholder,
textarea.form-control.co::placeholder{
    text-align: center;
    font-size: 25px;
    color: var(--tertiary-color);
    font-weight: 400;
}

input.friend-search{
    width: 60%;
}

input.book-search{
    width: 50%;
    margin-left: 100px;
}

input.comment,
input.comment-title,
input.comment-au,
input.comment-ch
{
    width: 40%;
    margin-top: 5px;
    margin-left: 100px;
}

.register-text,
.login-text {
    color: #333333;
}

a.log-link,
a.reg-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.log-link:hover,
.reg-link:hover {
    color:#333333;
}


.login-title {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 50pt;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
}


.login-pass,
.login-email,
.login-btn,
.login-text {
    margin: 20px;
}

.login-btn {
    font-size: 30px;
    background-color: var(--quarternary-color);
    border: none;
    width:30% ;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
}

.login-btn:hover,
.register-btn:hover,
.logout-page-btn:hover {
    background-color: rgba(252, 171, 117, 0.6);
    transition: all .3s ease-in-out;
}

.login-text {
    margin-top: 15%;
    text-align: center;
}

.register-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.register-title{
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 50pt;
    margin-top: 6%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
}

.register-name, .register-email, .register-pass {
    margin: 20px;
} 

.register-btn {
    margin-top: 20px;
    font-size: 30px;
    background-color: var(--quarternary-color);
    border: none;
    width:30% ;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
}

.friend-title{
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    margin-top: 10px;
}

.my-friend{
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    margin-top: 30px;
}

.what-read-title{
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    
    width: 50%;
}


.comment-section2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 100px;   
    width:100%;
}


.discussion-title {
    background-color: var(--quinary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    margin-top: 2%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    width: 50%;
}

.comment-title {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25pt;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
}

.friend-search-btn,
.book-search-btn,
.post-btn {
    font-size: 20px;
    background-color: var(--quarternary-color);
    border: none;
    width: 35%;
    margin-top: 10px;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
}

.post-btn {
    width: 10%;
}


li.box{
    background-color: var(--tertiary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    width: 100%;
    margin: 8px 0px;
    text-decoration: none;
}

li.box::marker{
    
    color: var(--primary-color);
}

div.comment.mt-4.text-justify,
span,
h4.comTitle,
p.comText {
    background-color: var(--tertiary-color);
}

h4.comTitle {
    font-size: 25px;
}

span.book-title,
span.author {
    background-color: var(--quarternary-color);
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    font-size: 25px;
}

span.book-title{
    padding: 10px;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    margin: 5px 0px;
}

.delete-btn {
    background-color: var(--quarternary-color);
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 10%;
}

.delete-btn2 {
    background-color: var(--tertiary-color);
    border: none;
    padding: 5px;
    border-radius: 20%;
}

.main-section {
    margin-top: 40px;
}

input.post-list {
    width: 20%;
}

.post-book-btn {
    background-color: var(--quarternary-color);
    border: none;
    padding: 5px;
    border-radius: 0px 10px 0px 10px;
    text-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    box-shadow: 4.949747468305832px 4.949747468305833px 10px #825f45;
    margin-top: 8px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER - DASHBOARD */
@media screen and (max-width: 980px) {
    body, html {
        overflow-x: hidden;
    }

    .dashboard-header {
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .header-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 50%;
    }

    .user-title {
        padding: 10px;
    }

    .what-read-title, .comment-title, .discussion-title {
        width: 80%;
    }

    .book-title {
        width: 65%;
        display: flex;
        align-items: center;
    }

    input.post-list {
        width: 40%;
    }

    .delete-btn2 {
        padding: 5px 10px;
        margin: 5px 0;
    }

    .comment-section2 {
        padding: 5px 25px;
    }
    
    .comment-list li {
        margin: 25px 0;
        list-style: none;
    }

    input.form-control {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .post-btn {
        width: 200px;
    }
}

/* MEDIA QUERY MOBILE PHONES AND SMALLER - DASHBOARD */
@media screen and (max-width: 575px) {
    .dashboard-title {
        margin: 10px;
        padding: 0;
        width: 100%;
    }

    .header-left {
        margin: 0 20px;
    }

    .header-right {
        margin: 5px;
        justify-content: space-evenly;
    }

    .user-title {
        width: 50%;
        font-size: 12px;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .logout-page-btn {
        margin: 0;
        font-size: 15px;
    }

    span.book-title, span.author {
        font-size: 15px;
    }

    .book-title {
        width: 90%;
    }

    .delete-btn2 {
        padding: 5px 15px;
        margin: 0 0;
    }

    .what-read-title, .comment-title, .discussion-title {
        width: 80%;
        font-size: 25px;
    }

    input.form-control {
        display: block;
        margin: 5px auto;
        width: 70%;
        font-size: 15px;
    }

    li.box {
        font-size: 12px;
        margin: 20px 0;
    }

    h4.comTitle {
        font-size: 20px;
        text-align: center;
    }

}

.modal-header{
    background-color: var(--quarternary-color);
}

.modal-title {
    background: none;
}

.btn-close{
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    font-size: 28px
}

.modal-body {
    background: var(--quinary-color);
}

.modal-text {
    background: none;
}


/* MEDIA QUERIES FOR TABLETS AND SMALLER - LOGIN PAGE */
@media screen and (max-width: 980px) {
    body, html {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .login-header{
        padding: 10px;
    }

    .login-title {
        padding: 0;
        margin: 0;
        font-size: 50px;
    }

    .login-text {
        margin: 20px;
    }
}

/* MEDIA QUERY MOBILE PHONES AND SMALLER - Login */
@media screen and (max-width: 575px) {

    section.login-screen {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .login-title {
        font-size: 40px;
        padding: 10px;
        text-align: center;
    }
    
}


/* MEDIA QUERIES FOR TABLETS AND SMALLER - REGISTER PAGE */
@media screen and (max-width: 980px) {
    body, html {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .register-title {
        margin: 10px;
    }

    section.register-screen {
        max-width: 70%;
        margin: 0;
        padding: 0;
    }

    .register-btn{
        margin: 10px;
        font-size: 20px;
    }
}




